*{
	font-family: 'Lato', sans-serif;
}
body {
background: #141E30;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#app {
	color: #c8d6e5;
}
#app h1 {
	color: #feca57;
}
#app h2 {
		font-weight: bold;
		color: #ff9f43;
}
#app p {
	font-style: italic;
}
#app img {
	max-width: 250px;
	height: auto;
}
#app ul {
	list-style-type: none;
}